<div class="wrapper">
  <div class="contents">
    <div class="title">世界の絶景
      <div class="message">
        <h3>絶景とは...</h3>
        <p>他にたとえようもない、素晴らしい景色のこと</p>
        <p>神秘的風景や幻想的風景、驚愕風景、異次元風景など、自然が作り出した信じられない景色で、人生観が変わるほどの感動や興奮を及ぼすことがある</p>
        <%=link_to "もっとみる", pictures_path%>
      </div>
    </div>
  </div>
</div>
