<div class="wrapper-pictures">
  <div class="contents-pictures">
    <div class="left-arrow"><i class="fas fa-chevron-left"></i></div>
    <div class="pictures">
      <ul class="images">
      </ul>
      <ul class="points">
      </ul>
    </div>
    <div class="right-arrow"><i class="fas fa-chevron-right"></i></div>
  </div>
</div>